[submodule "src/drivers/urg_node2"]
	path = src/drivers/urg_node2
	url = https://github.com/Hokuyo-aut/urg_node2
[submodule "src/control/pid_controller"]
	path = src/control/pid_controller
	url = git@github.com:GIU-F1Tenth/pid_controller
[submodule "src/control/mpc_controller"]
	path = src/control/mpc_controller
	url = git@github.com:GIU-F1Tenth/mpc_controller
[submodule "src/perception/obj_detection"]
	path = src/perception/obj_detection
	url = git@github.com:GIU-F1Tenth/obj_detection
[submodule "src/drivers/realsense-ros"]
	path = src/drivers/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
[submodule "src/giu_f1t_utils"]
	path = src/giu_f1t_utils
	url = git@github.com:GIU-F1Tenth/giu_f1t_utils
[submodule "src/giu_f1t_interfaces"]
	path = src/giu_f1t_interfaces
	url = git@github.com:GIU-F1Tenth/giu_f1t_interfaces
[submodule "src/planning/trajectory_planning"]
	path = src/planning/trajectory_planning
	url = git@github.com:GIU-F1Tenth/trajectory_planning
[submodule "src/planning/behavioral_planning"]
	path = src/planning/behavioral_planning
	url = git@github.com:GIU-F1Tenth/behavioral_planning
[submodule "src/slam/frontier_exploration"]
	path = src/slam/frontier_exploration
	url = git@github.com:GIU-F1Tenth/frontier_exploration
[submodule "src/slam/slam_toolbox"]
	path = src/slam/slam_toolbox
	url = git@github.com:SteveMacenski/slam_toolbox.git
	branch = humble
[submodule "src/slam/nav2_wfe"]
	path = src/slam/nav2_wfe
	url = https://github.com/kaiaai/nav2_wfe.git
[submodule "src/giu_f1t_system"]
	path = src/giu_f1t_system
	url = git@github.com:GIU-F1Tenth/giu_f1t_system.git
	branch = humble-devel
[submodule "src/drivers/urg_node"]
	path = src/drivers/urg_node
	url = git@github.com:ros-drivers/urg_node.git
[submodule "src/drivers/urg_c"]
	path = src/drivers/urg_c
	url = git@github.com:ros-drivers/urg_c.git
	branch = ros2-devel
[submodule "src/planning/navigation2"]
	path = src/planning/navigation2
	url = git@github.com:ros-navigation/navigation2.git
	branch = humble
